/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: none;
    background-color: #0061FF;
    padding: 5px 15px;
}

.btn-medium {
    font-size: 1em;
    padding: 10px 20px;
}

.big-container {
    width: 80%;
    max-width: 2000px;
    margin: auto;
}

.small-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

h2 {
    font-size: 2.5em;
}

/* Header */

header {
    background-color: #FFF;;
    height: 10vh;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav,
.nav li {
    display: inline-block;
    color: #FFF;
    padding: 0 20px;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.logo, .nav, .top-right {
    line-height: 10vh;
    display: inline-block;
}

.logo img,
.nav,
 header .btn {
    vertical-align: middle;
}

.logo{
    width: 6%;
} 

.top-right{
    width: 4%;
}

.nav-right, .top-right {
    text-align: right;
}

.nav {
    width: 43vw;
}

/* Main*/

.hero {
    margin-top: 10vh;
    padding-top: 50px;
    background-color: #b4d0e7;

}

.hero-bottom {
    position: relative;
    bottom: -80px;
}

.hero h1 {
    font-size: 5.3em;
}

.hero img {
    width: 100%;
}

.hero-left, .hero-right {
    float: left;
}

.hero-left {
    width: 30%;
    padding-right: 60px;
}
.hero-right {
    width: 60%;
}

.hero-left .btn-medium {
    margin: 20px 0;
}

.fa-arrow-down {
    margin: 40px 0;
    font-size: 3em;
}

/*plans section*/

.plans {
    margin-top: 30vh;
}

.plans-title {
    padding-bottom: 5vh;
}

[for] {
    padding-right: 10px;
}

.col {
    height: 60vh;
}
.col-top {
    border: 1px solid #d0d0d3;
}

.col-body {
    border: 1px solid #d0d0d3;
}