/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: none;
    background-color: #0061FF;
    padding: 5px 15px;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);

}

.btn-medium {
    font-size: 1em;
    padding: 10px 20px;
}

.big-container {
    width: 80%;
    max-width: 2000px;
    margin: auto;
}

.small-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

/*Common*/

/* Header */

header {
    width: 100%;
    background-color: #FFF;;
    height: 10vh;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.top-nav,
.top-nav li {
    display: inline-block;
    color: #FFF;
    padding: 0 20px;
}

.top-nav a {
    text-decoration: none;
    color: #000;
}

.head-rx .btn:hover {
    padding: 5px 30px;
}

.top-nav{
    line-height: 10vh;
    display: inline-block;
}

.head-lx img,
.top-nav,
 header .btn {
    vertical-align: middle;
} 

.head-lx, 
.head-rx {
    float: left;
    width: 50%;
}

.head-rx {
    text-align: right;
}

/* Main*/

.hero {
    margin-top: 10vh;
    padding-top: 50px;
    background-color: #b4d0e7;
}

.hero-bottom {
    position: relative;
    bottom: -90px;
}

.hero h1 {
    font-size: 5.3em;
}

.hero img {
    width: 100%;
}

.hero-left, .hero-right {
    float: left;
}

.hero-left {
    width: 30%;
    padding-right: 60px;
}
.hero-right {
    width: 60%;
}

.hero-left .btn-medium {
    margin: 20px 0;
}

.fa-arrow-down {
    margin: 40px 0;
    font-size: 3em;
}

/*plans section*/

.plans {
    margin: 30vh 0 20vh 0;
}

.plans-title {
    padding-bottom: 5vh;
}

.radio {
    padding-bottom: 2.5vh;
}

[for] {
    padding-right: 10px;
}

.col {
    float: left;
    width: calc(100% / 3 - 24px);
    border: 1px solid #d0d0d3;
    height: 900px;
    min-height: 600px;
}

.col.center {
    margin: 0 36px;
}

.col-top {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

.col-body {
    padding: 20px;
}

.plan-price {
    font-weight: 600;
    padding: 10px 0;
}

.plan-rate {
    color: #7b7b7b;
    padding-bottom: 20px;
}

.plans-float,
.col-top,
.col-body,
.col-body-top,
.col-body-bottom,
.col button,
.row,
.row-top,
.row-body,
.row button,
.partner,
.partner img,
.business,
.biz-title,
.biz-top,
.card,
.text,
.business img {
    width: 100%;
}

.col-body-top ul { 
    padding-bottom: 30px;
}

.col button {
    font-size: 1em;
    padding: 10px 0;
    margin-bottom: 30px;
    
}

.buylink{
    color: #0061FF;
}

.or {
    display: inline-block;
    height: 50px;
    border-bottom: 1px solid#b1b0b0;
}


.col-body-bottom {
    padding-top: 40px;
}

.col h4 {
    padding-bottom: 20px;
}


.col li {
    padding: 10px 0;
    text-align: left;
}

.fa-ul {
    margin-left: 1.5em;
}
.fa-check {
    color: #0061FF;
}

.row {
    margin-top: 60px;
    border: 1px solid #d0d0d3; 
    
}

.row-top {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

.row-body {
    padding: 30px;
}

.row-col-left, .row-col-right {
    float: left;
}

.row-col-left {
    width:  65%;
}

.row-col-right {
    width: 35%;
}

.row h3 {
    margin-bottom: 20px;
}

.row h4 {
    margin-bottom: 30px;
}

/*partner*/

.partner {
    margin-bottom: 20vh;
}

.partner-right {
    padding: 40px;
}
.partner-left, .partner-right {
    float: left;
    width: 50%;
}
main p {
    font-size: .9em;
    line-height: 2;
    padding: 10px 0;
}

.partner button {
    font-size: .9em;
    padding: 10px 20px;
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}

/*Business*/

.tile {
    width: calc(100% / 3 - 30px);
    float: left;
}

.biz-top, .biz-bottom {
    margin: 40px 0;
}

.middle {
    margin: 0 45px;
}

/*clients*/

.clients {
    margin: 35vh 0 10vh 0;
}

.clients h2 {
    width: 50%;
    margin-bottom: 50px;
}

/*Boxes*/

.boxes {
    margin-top: 50px;
    width: 100%;
}

.box {
    background-color: lightblue;
    width: 15vw;
    height: 15vw;
    position: relative;

}

.box-lx, .box-rx {
    background-color: blue;
    width: 30vw;
}
.box-c {
    background-color: #F5F5F5;
    width: calc(100% - 60vw);
    height: 30vw;
    padding: 50px;
}

.box-c img {
    width:25%;
}

.line.or {
    width: 10%;
    display: block;
    height: 30px;
}

.box-c p {
    margin-top: 30px;
}

.box-lx ,
.box-c ,
.box-rx,
.lx-lx,
.lx-rx,
.rx-lx,
.rx-rx {
    float: left;
}

.lx-lx,
.lx-rx,
.rx-lx,
.rx-rx {
    width: 50%;
}

.box img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25%;
}

.designit {
    background-color: #a2d39b;
    border: 10px solid #D0E9CD;
}

.designit img {
    padding: 20%;
}

.uf {
    background-color: #0093CE;
}

.asu {
    background-color: #61082B;
}

.topps {
    background-color: #FF1C1C;
}

.wbr {
    background-color: #D5001F;
}

.lp {
    background-color: #0D2481;
}
.hearst {
    background-color: #B4D0E7;
}
.cc {
    background-color: #FFD830;
}

/*Free trial*/

.trial {
    background-color: #B4D0E7;
    padding: 130px 0px;

}

.trial h2 {
    width: 100%;
    margin-bottom: 0;
}

.trial a {
    text-align: center;
    width: 50%;
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    padding: 5px 80px;
}

.trial a:hover {
    padding: 5px 100px;
}

.trial-col-left {
    width: 40%;
    float: left;
    color: #61082b;
}

.trial-col-right {
    width: 60%;
    float: left;
    text-align: right;
}

/*FAQ*/

.faq {
    margin-bottom: 20vh;
}
.faq select,
.questions {
    width: 100%;
}

.faq h2 {
    margin-bottom: 50px;
}

.faq ul {
    width: 100%;
}

.faq ul:last-child {
    border-bottom: 1px solid #b1b0b0;
}
.faq li {
    border-top: 1px solid #b1b0b0;
    padding: 50px 0;
    width: 100%;
    list-style: none;
}

.faq select {
    font-weight: 700;
    font-size: 1em;
    border: none;
}

/*Footer*/

footer {
    background-color: #000;
    color: #FFF;
}

.footer-top {
    padding: 100px 0;
}
.footer-top > *{
    float: left;
    width: 20%;
}

.footer-top h3 {
    margin-bottom: 10px;
}

.footer-top a {
    text-decoration: none;
    color: #FFF;
}
.footer-top li {
    list-style: none;
    padding: 10px 0;
}

.footer-bottom {
    color: #b1b0b0;
    padding-bottom: 100px;
}

.footer-bottom i {
    vertical-align: middle;
}


.fa-globe-americas,
.language,
.fa-caret-up {
    display: inline-block;
    font-size: 1em;
}

footer .or {
    display: block;
    width:12%;
    border: 1px 0 0 0;
    height: 50px;
    margin-bottom: 50px;
}